@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --primary-color: #050273;
    --secondary-color:#ffffff;
    --accent1-color:#ffa500;
    --accent2-color:#30d6c8;

    --heading-font: "Playfair Display", serif;
    --paragraph-font:  Montserrat, sans-serif;

    --nav-background-color: #050273;
    --nav-link-color: #ffffff;
    --nav-hover-link-color:#050273;
    --nav-hover-background-color: rgb(48, 214, 200);
}    

header {
    display: grid;
    max-width: 2000px;
    grid-template-columns: 1fr 1fr 10px;
    border: 2px solid #050273;
    margin: 1rem auto;
    background-color: var(--accent2-color);
}

h2, h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

nav a {
    text-decoration: none;
}

section P {
    font-family: var(--paragraph-font);
}

footer {
    margin: 1rem auto;
    border: 2px solid #050273;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

footer p {
    flex-grow: 2;
    margin-left: 10rem;
    padding-left: 8rem;
    text-align: center;
}

label, input, button, select, textarea {
    font-family: Montserrat, sans-serif;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin-top: 1rem;
    background-color: #050273;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: 12px 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

button:hover {
    background-color: #0e87cc;
}

/* Class Selectors*/

.hero img, .map {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.map iframe {
    position: absolute;
    display: block;
    width: 51%;
    height: 751px;
    left: 612px;
    top: 392px;
    border: 2px solid #050273;
    margin: 0 auto;
}

.hero h1 {
    position: absolute;
    top: 300px;
    left: 290px;
    font-family: var(--heading-font);
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--primary-color);
    padding: 0 5rem;
    font-size: 40px;
    margin: 0 auto; 
}

.hero article {
    position: absolute;
    top: 400px;
    left: 50px;
    right: 60px;
    background-color: rgba(3, 57, 86, 0.6);
    padding: 10px;
    margin: 0 auto;
}

.hero article img {
    top: 1px;
    left: 1px;
    float: right;
    width: 210px;
    height: auto;
    border: 1px solid rgba(3, 57, 86, 0.6);
    opacity: 1;
}

.hero article p {
    color: var(--secondary-color);
    text-align: left;
    padding: 1px 5px 0 10px;
}

.sociallinks img {
    width: 50px;
}

.sociallinks:last-child {
    flex-grow: 1;
    text-align: right;
    padding-right: 2rem;
}

.grid {
    display: grid;
    align-items: center;
}

.grid img {
    width: 200px;
    height: auto;
    padding-left: 8rem;
    padding-right: 7rem;
}

.grid nav {
    display: flex;
    width: 80%;
    background-color: #fff;
    justify-content: space-evenly;
    border: 1.5px solid #050273;
}

.grid nav a {
    border-right: 1px solid #050273;
    background-color: #fff;
    padding: 0.5rem 2rem;
    font-weight: 500;
    color: rgb(0, 0, 238);
}

.grid nav a:hover {
    color: var(--nav-link-color);
    background-color: var(--nav-background-color);
}

.grid nav a:visited {
    color: rgb(5, 2, 115);
}

.grid nav a:last-child {
    border-right: none;
}

.history {
    margin: 1rem auto;
    border: 2px solid rgb(5, 2, 115);
    background-color: rgb(244, 244, 244);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

.history img {
    width: 100%;
    height: auto;
}

.history p {
    padding: 0 10px 2rem 2rem;
}

.history h2 {
    text-align: center;
    margin-bottom: 1px;
    margin-top: 0;
    grid-column: 1/8;
    grid-row: 1;
}

.figure {
    margin: 1rem auto;
    border: 2px solid #050273;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column: 1/6;
    grid-row: 2;
    align-content: center;    
}

.figure img {
    width: 100%;
}

.guide {
    margin: 1rem auto;
    border: 2px solid #050273;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/6;
    grid-row: 2;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.guide img {
    width: 100%;
}

.figure h2, .guide h2 {
    grid-column: 1/8;
    grid-row: 1;
}

.contact {
    display: flex;
    margin: 0 auto;
    border: 2px solid #050273;
    background-color: #050273;
    font-family: Playfair, serif;
}

.contact p {
    width: 400px;
    text-align: left;
    float: left;
    background-color: #fff;
    color: #050273;
    padding: 20px;
    padding-top: 30px;
    margin: 1rem;
}

.contact img {
    padding-right: 10px;
    float: left;
    width: 40px;
}

.form {
    display: grid;
    margin: 0 auto;
    margin-right: 650px;
    border: 2px solid #050273;
    background-color: #eee;
}    
    
.form form { 
    padding: 2rem;
    margin-right: 600px;
}

.textarea {
    display: grid;
    text-align: left;
    padding: .3rem;
}

.form div {
    gap: 0.1rem;
    padding: .5rem;
}

.form h3 {
    color: #050273;
}

.form p {
    color: #050273;
    font-weight: 500;
}

.wireframe {
    width: 50px;
    flex-grow: 1;
    padding-right: 2rem;
}